* {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: rgb(240 240 240);
}

/*---------------------- TITLE--- ---------------- */
.container {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  padding-top: 5%;
  position: relative;
  margin-bottom: 40px;
}
h1 {
  font-family: "Roboto", sans-serif;
  color: #4a8846;
  font-weight: 600;
  font-size: 36px;
  margin-right: 10px;
}
h2 {
  font-family: "Roboto", sans-serif;
  color: #4a8846;
  font-weight: 400;
  font-size: 28px;
}
.title-container {
  display: flex;
}
.title {
  text-align: center;
}
.pizza-logo {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-color: #ffd985;
  border: solid 2px #d6a251;
  position: relative;
}
.pizza-cut {
  width: 50%;
  height: 0px;
  border: solid 1px #5f5f5f;
  position: absolute;
  background-color: #5f5f5f;
  z-index: 1;
}
.pizza-cut:nth-child(2) {
  transform: rotate(-61deg);
  top: 24%;
  left: 37%;
}
.pizza-cut:nth-child(1) {
  transform: rotate(-19deg);
  top: 42%;
  left: 50%;
}
.pizza-logo .jam {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: #bc0707;
}
.jam:nth-of-type(8) {
  position: absolute;
  left: 20%;
  top: 11%;
}
.jam:nth-of-type(9) {
  position: absolute;
  left: 53%;
  bottom: 79%;
}
.jam:nth-of-type(10) {
  position: absolute;
  left: 5%;
  top: 51%;
}
.jam:nth-of-type(3) {
  position: absolute;
  left: 20%;
  bottom: 12%;
}
.jam:nth-of-type(4) {
  position: absolute;
  top: 73%;
  right: 20%;
}
.jam:nth-of-type(5) {
  position: absolute;
  top: 45%;
  right: 44%;
}
.jam:nth-of-type(6) {
  position: absolute;
  top: 45%;
  right: 5%;
}
.jam:nth-of-type(7) {
  position: absolute;
  top: 21%;
  right: 14%;
}

.shopping-car {
  display: flex;
  width: 118px;
  height: 76px;
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.box1 {
  background-color: black;
  width: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box1 i {
  color: white;
  font-size: 10px;
}

.box2 {
  background-color: #4a8846;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box2 i {
  font-size: 35px;
  color: white;
  text-align: center;
}
/*---------------------- TITLE END--- ---------------- */

/* -------------HERE STARTS MENU SECTION---------- */
.menu-section {
  max-width: 1440px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 40px;
}
.options {
  width: 95%;
  border-bottom: solid 2px black;
  padding: 5px;
  margin: auto;
  margin-bottom: 25px;
}
.options li {
  padding: 5px;
  font-family: "Roboto", sans-serif;
}
.options ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
.options a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 24px;
}

.options-pizza {
  display: flex;
}
.pizza-container {
  width: 226px;
  height: 397px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 14px;
  box-shadow: 4px 10px 5px #aca9a9;
  border-radius: 10px;
  overflow: auto;
}
.options-pizza img {
  width: inherit;
  height: 240px;
}
.pizza-description {
  padding: 10px;
  text-align: right;
}
.pizza-description h3 {
  color: #4a8846;
  font-size: 24px;
  margin-bottom: 10px;
}

/* -------------HERE ENDS MENU SECTION---------- */
/* ------------- HERE STARTS ADITIONS SECTION --------- */
.aditions-section {
  width: 1440px;
  padding: 0px 10px 0px 10px;
  padding-bottom: 50px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aditions-container::-webkit-scrollbar {
  background-color: rgb(240 240 240);
  border-radius: 5px;
  height: 10px;
}
.aditions-container::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
  height: 10px;
  width: 25%;
}
.aditions-title {
  border-bottom: solid 2px black;
  margin-bottom: 20px;
  text-align: center;
  width: 95%;
}
.aditions-title h1 {
  color: black;
  margin: auto;
}
.aditions-container {
  overflow: auto;
  display: -webkit-box;
  width: 99%;
  padding: 10px;
}
.adition-container {
  padding: 20px;
  width: 488px;
  height: 144px;
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
  background-color: white;
  border-top: solid 8px #fcb84f;
  border-radius: 10px;
  box-shadow: 4px 10px 5px #aca9a9;
  margin: 5px;
}
.adition-text {
  display: block;
  text-align: right;
  width: 197px;
}
.adition-text h3 {
  margin-bottom: 10px;
  font-size: 22px;
  color: #4a8846;
}
.adition-text p {
  font-size: 13px;
  color: #5f5f5f;
}
.adition-container img {
  width: 148px;
  height: 103px;
}
/* ------------- HERE ENDS ADITIONS SECTION --------- */
/* ------------- HERE STARTS FOOTER SECTION --------- */
footer {
  background-color: black;
  height: 38px;
}
