:root{
  --gold-color: #FCB84F;
  --darkerGold-color: #D6A251;
  --green-color: #4A8845;
  --big-text-font: 'Herr Von Muellerhoff', cursive;
  --normal-font: "Roboto", sans-serif;
}


.cartIcon_container{
  color: white;
  height: 35px;
  width: 35px;
}

.cartIcon_container img{
  color: white;
  height: 35px;
  width: 35px;   
}

.menuBody {
  font-family: var(--normal-font);
  background: rgb(243, 243, 243);
  position: relative;
}

.domicilioBaner_container{
position: absolute;
left: 0;
top: 0px;
display: flex;
flex-direction: column;
align-items: center;
}

.domicilioBaner_container img{
  width: 300px;
  height: auto;
}

.domicilioBaner_container h1{
  color: #6bd336;
  font-size: 3.2em;
  font-weight: 1000;
  transform: rotate(-4deg) skew(7deg);
  margin: 0;
  position: relative;
  top: -10px;
  -webkit-text-stroke: 0.5px white;
  font-family: 'Modak', cursive;
  /* text-shadow: 2px 2px white; */
  text-align: center;
  line-height: 40px;
  box-sizing: border-box;
  letter-spacing: 2px;
  /* transform: skew(10deg); */
}
/*---------------------- TITLE--- ---------------- */
.container {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  padding-top: 5%;
  position: relative;
  margin-bottom: 40px;
}

.title-container {
  display: flex;
}
.title {
  text-align: center;
}
.pizza-logo {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-color: #ffd985;
  border: solid 2px #d6a251;
  position: relative;
}
.pizza-cut {
  width: 50%;
  height: 0px;
  border: solid 1px #5f5f5f;
  position: absolute;
  background-color: #5f5f5f;
  z-index: 1;
}
.pizza-cut:nth-child(2) {
  transform: rotate(-61deg);
  top: 24%;
  left: 37%;
}
.pizza-cut:nth-child(1) {
  transform: rotate(-19deg);
  top: 42%;
  left: 50%;
}
.pizza-logo .jam {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: #bc0707;
}
.jam:nth-of-type(8) {
  position: absolute;
  left: 20%;
  top: 11%;
}
.jam:nth-of-type(9) {
  position: absolute;
  left: 53%;
  bottom: 79%;
}
.jam:nth-of-type(10) {
  position: absolute;
  left: 5%;
  top: 51%;
}
.jam:nth-of-type(3) {
  position: absolute;
  left: 20%;
  bottom: 12%;
}
.jam:nth-of-type(4) {
  position: absolute;
  top: 73%;
  right: 20%;
}
.jam:nth-of-type(5) {
  position: absolute;
  top: 45%;
  right: 44%;
}
.jam:nth-of-type(6) {
  position: absolute;
  top: 45%;
  right: 5%;
}
.jam:nth-of-type(7) {
  position: absolute;
  top: 21%;
  right: 14%;
}

.shopping-car {
  display: flex;
  width: 100px;
  height: 70px;
  position: absolute;
  top: 50px;
  right: 0px;
  bottom: 0px;
  cursor: pointer;
}
.box1 {
  background-color: black;
  width: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px 0 0 4px;
  color: white;
  height: 100%;
  font-weight: 1000;
}

.box1:before {
  content: "\A";
    border-style: solid;
    border-width: 4px 9px 4px 0;
    border-color: transparent white transparent transparent;
    position: absolute;
    left: 1px;
}

.box2 {
  background-color: #4a8846;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box2 a:hover {
  box-shadow: none;
}
/*---------------------- TITLE END--- ---------------- */

/* -------------HERE STARTS MENU SECTION---------- */
.menu-section {
  max-width: 1440px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 40px;
  padding: 0px 10px 0px 10px;

}
.options {
  width: 95%;
  
  margin: auto;
  margin-bottom: 25px;
}
.options ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  height: 25px;

}
.options li {
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 5px;
  font-family: "Roboto", sans-serif;
  border-bottom: solid 2px black;
  /* transition: .2s all; */
  cursor: pointer;
}

.options li:hover {
  border-bottom: 5px solid #4a8846;
}

.options li:hover > a{
  color: #4a8846;
}
  
.categoryActive{
  border-bottom: 5px solid #4a8846 !important;
}

.categoryActive a{
  color: #4a8846 !important;
}
  
.options a {
  text-decoration: none;
  color: black;
  height: 100%;
  font-weight: 700;
  font-size: 24px;
}

.options li a:hover {
  box-shadow: none;
}


.options-pizza {
  padding: 20px;
  overflow-x: auto;
  display: flex;
  width: inherit;
}

.spaceItemInvisble{
  min-width: 14px;
  height: inherit;
}

.options-pizza::-webkit-scrollbar {
  background-color: rgb(240 240 240);
  border-radius: 2px;
  height: 5px;
}
.options-pizza::-webkit-scrollbar-thumb {
  background-color: #ccc;
}


/* -------------HERE ENDS MENU SECTION---------- */
/* ------------- HERE STARTS ADITIONS SECTION --------- */
.aditions-section {
  max-width: 1440px;
  padding: 0px 10px 0px 10px;
  padding-bottom: 50px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aditions-container::-webkit-scrollbar {
  background-color: rgb(240 240 240);
  border-radius: 2px;
  height: 5px;
}
.aditions-container::-webkit-scrollbar-thumb {
  background-color: #ccc;
}
.aditions-title {
  border-bottom: solid 2px black;
  margin-bottom: 20px;
  text-align: center;
  width: 95%;
}
.aditions-title h1 {
  color: black;
  margin: auto;
}
.aditions-container {
  overflow: auto;
  display: -webkit-box;
  width: 99%;
  padding: 10px;
}


/* ------------- HERE STARTS OVERLAY ONE SECTION --------- */
.overlay {
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  /* visibility: hidden; */
}

/* ------------- HERE ENDS OVERLAY ONE SECTION --------- */


/* ------------- HERE ENDS ADITIONS SECTION --------- */
/* ------------- HERE STARTS FOOTER SECTION --------- */
