.ordersHistory_body{
    background: #E5E5E5;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    overflow-y: auto;
    position: relative;
    /* padding-bottom: 250px; */
}

.ordersHistory_wrapper{
    max-width: 1200px;
    height: inherit;
    width: 100%;
}

.ordersHistory_bottomBar{
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    background: black;
    box-sizing: border-box;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 2em;
    font-weight: 700;
}

.ordersHistory_dateContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.ordersHistory_dateGroup{
    display: flex;
    align-items: flex-end;
    margin: 0 20px;
}

.ordersHistory_dateContainer input{
    margin-left: 10px;
    border: 2px solid rgb(173, 172, 172) !important;
}

.ordersHistory_dateContainer svg g{
    color: green;
}

.calendar{
    position: absolute;
    font-weight: 800;
}

.calender-date{
    color: green !important;

}

.calendar :nth-child(2){
    background: rgb(240, 240, 240) !important;
}

.ordersNoFound{
    width: 100%;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
}

/*ordenes cargando*/
.orderItem.loading{
    border-top: 12px solid green; 
}

.stripe{
    width: 90%;
    border-top: 2px solid lightgray;
    margin: auto;
    margin-top: 20px;
}

.orderLoadingif{
    display: flex;
    margin: auto;
}

.spaceOrderLoadingItem{
    width: 100%;
    height: 50px;
}

.orderProductInfo_observation{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 80%;

}