.pizza-logo {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background-color: #ffd985;
    border: solid 2px #d6a251;
    position: relative;
    margin-left: 10px;
  }
  .pizza-cut {
    width: 50%;
    height: 0px;
    border: solid 1px #919191;
    position: absolute;
    background-color: #919191;
    z-index: 1;
  }
  .pizza-cut:nth-child(2) {
    transform: rotate(-61deg);
    top: 26%;
    left: 37%;
  }
  .pizza-cut:nth-child(1) {
    transform: rotate(-19deg);
    top: 39%;
    left: 49%;
  }
  .pizza-logo .jam {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: #bc0707;
  }
  .jam:nth-of-type(8) {
    position: absolute;
    left: 20%;
    top: 11%;
  }
  .jam:nth-of-type(9) {
    position: absolute;
    left: 53%;
    bottom: 79%;
  }
  .jam:nth-of-type(10) {
    position: absolute;
    left: 5%;
    top: 51%;
  }
  .jam:nth-of-type(3) {
    position: absolute;
    left: 20%;
    bottom: 12%;
  }
  .jam:nth-of-type(4) {
    position: absolute;
    top: 73%;
    right: 20%;
  }
  .jam:nth-of-type(5) {
    position: absolute;
    top: 45%;
    right: 44%;
  }
  .jam:nth-of-type(6) {
    position: absolute;
    top: 45%;
    right: 5%;
  }
  .jam:nth-of-type(7) {
    position: absolute;
    top: 21%;
    right: 14%;
  }