.adition-container {
  padding: 20px;
  width: 488px;
  height: 144px;
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
  background-color: white;
  border-top: solid 8px #fcb84f;
  border-radius: 10px;
  box-shadow: 4px 10px 5px #aca9a9;
  margin: 5px;
}
.adition-text {
  width: 100%;
  display: block;
  padding-right: 10px;
}
.adition-text h3{
  width: 100%;
  font-size: 18px;
  color: #4a8846;
}

.adition-text h3 small{
  font-weight: 600;
  font-style: italic;
  color: #346d2f;
}

.adition-text p {
  font-size: 13px;
  color: #5f5f5f;
  font-weight: 600;
}
.adition-container img {
  width: 148px;
  height: 103px;
  object-fit: cover;
  box-shadow: 0 6px 2px -2px gray;
  border-radius: 6px;
}