.title-container {
    display: flex;
    justify-content: center;
    color: green;
    margin-top: 5px;
    align-items: flex-start;
}
.title {
    margin-left: 132px;
    text-align: center;
    color: green;
    display: flex;
}

.title a{
    text-decoration: none;
    color: green;
    display: inherit;
    flex-direction: inherit;
}

.title a:hover{
    box-shadow: none;
    color: green;
}

.tittleLetter_container{
    display: flex;
    flex-direction: column;
}

.title :first-child{
    display: flex;
    align-items: center;
}

.logo{
    height: 100px;
    width: auto;
    margin-left: 20px;
    position: relative;
    top: -15px;
}

/* ------------- responsive --------- */
@media screen and (max-width:1024px){
    
  }
  
  @media screen and (max-width: 767px){
    .title{
      margin-left:20px;
    }
  }
  
  @media screen and (max-width: 600px){
   .title-container{
       transform: scale(0.8);
   }
  }
  
  @media screen and (max-width: 480px){
    
  }
  
  @media screen and (max-width: 380px){
   
  }
  
  @media screen and (max-width: 320px){
  
  }