/* ------------- HERE STARTS OVERLAY TWO SECTION --------- */
.overlay-two {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* visibility: hidden; */
    font-family: var(--normal-font);
    z-index: 1000;

  }
  .make-order {
    width: 60%;
    max-width: 600px;
    height: 100vh;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 20px;
    box-sizing: border-box;
    position: relative;
    align-self: flex-start;
  }

  .make-order-closeIcon {
    display: flex;
    justify-content: flex-end;
  }
  .make-order-closeIcon img{
    width: 40px;
    height: auto;
  }

  .make-order .shopping-car{
    left: -100px;
  }

  .make-order .shopping-car .box1:before{
    transform: scaleX(-1);
    left: 3px;

  }

  .items{
    overflow-y: auto;
    padding: 10px 10px;
  }

  .items::-webkit-scrollbar {
    background-color: rgb(240 240 240);
    border-radius: 2px;
    height: 5px;
    width: 5px;
}

  .items::-webkit-scrollbar-thumb {
    background-color: #ccc;

}

.emptyCar{
  display: flex;
  justify-content: center;
  align-items: center;
  color: lightgray;
  width: 100%;
  height: 100%;
  text-align: center;
}

  .make-order-button {
    text-align: center;
    border-top: solid 4px #e1e1e1;
    margin-top: 10px;
    padding-bottom: 35px;
  }

  .order-resume {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .order-resume h4 {
    font-family: var(--normal-font);
    color: #018740;
    font-size: 24px;
    font-weight: 600;
  }
  .order-resume p {
    margin-bottom: 15px;
    color: #018740;
    font-family: var(--normal-font);
    font-size: 24px;
  }
  .make-order-button button {
    padding: 5px 60px;
    background-color: black;
    font-size: 27px;
    font-family: var(--normal-font);
    color: white;
    margin-top: 40px;
    border-radius: 5px;
    cursor: pointer;
  }

  .make-order-button button:hover {
    box-shadow: 0px 0px 10px black;
  }
  
  /* ------------- HERE ENDS OVERLAY THREE ONE SECTION --------- */

  /* ------------- responsive --------- */
@media screen and (max-width:1024px){

}

@media screen and (max-width: 767px){

}

@media screen and (max-width: 600px){
  .make-order .shopping-car{
    left: -70px;
  }

  .order-resume p{
    font-size: 1.2em;
  }

  .order-resume h4{
    font-size: 1.2em;
  }

  .make-order-button button{
    font-size: 1.3em;
    padding: 5px 40px;
  }
}

@media screen and (max-width: 480px){
  .make-order{
    width: 80%;
    height: calc(100vh - 61px);
  }

  .emptyCar{
    font-size: 1.5em;
  }
}

@media screen and (max-width: 380px){
  .make-order{
    padding: 5px;
  }

  .make-order .shopping-car .box1{
    padding: 0 1px;
    box-sizing: border-box;
  }
  .make-order .shopping-car{
    width: 50px;
    left: -50px;
  }
  
  .order-resume{
    padding: 0 5px;
  }
}

@media screen and (max-width: 320px){

}