.bg_modalOrderDone{
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* visibility: hidden; */
    font-family: var(--normal-font);

}

.modalOrderDone{
    position: relative;
    box-sizing: border-box;
    background: white;
    padding-top: 40px;
    border-radius: 16px;
    width: 50%;
    overflow: hidden;
}

.footerModal p{
    margin-bottom: 15px;
    color: #4a8846;
    font-family: var(--normal-font);
    font-size: 24px;
}

.dataRow{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 30px;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
}

.fistDatarow{
    height: 130px;
}

.inputGoup{
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 200px;
}

.dataRow input[type=text], input[type=tel], textarea {
    border: 2px solid gray;
    border-radius: 4px;
    height: 25px;
    width: 100%;
}

.infoDatarow{
    color: red;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoDatarow .checkData{
    font-weight: 600;
}

.footerModal{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(230, 230, 230);
    padding: 10px 50px;
    box-sizing: border-box;
}


.footerModal .buttonConfir{
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    align-self: flex-end;
}

.buttonConfir button{
    width: 100%;
    min-width: fit-content;
    padding: 5px 10px;
    border-radius: 6px;
    background: #4a8846;
    color: white;
    border: none;
    font-size: 1.2em;
    font-style: italic;
    font-weight: 600;
    cursor: pointer;
    outline: none;
}

.buttonConfir .loaderConfir{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px 10px;
    border-radius: 6px;
    background: #4a8846;
    color: white;
    border: none;
    font-size: 1.2em;
    font-style: italic;
    font-weight: 600;
    cursor: pointer;
    outline: none;
}

.buttonConfir button:active{
    background: #305a2d;
}

.totalInfoOrder{
    text-align: center;
}

.totalInfoOrder h4{
    color: #305a2d;
}

.orderSucces{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    color: #77b43f;
    opacity: 0;
    animation: orderSucces 3s ease forwards;
}

@keyframes orderSucces{
    0%{opacity: 0}
    20%{opacity: 1}
    60%{opacity: 1}
    100%{opacity: 0}
  }

.orderSucces img{
    height: 250px;
    width: auto;
}

  /* ------------- responsive --------- */
@media screen and (max-width:1024px){
    .dataRow{
        justify-content: center;
    }

    .dataModal .title-container .title{
        margin-left: 0;
        justify-content: flex-end;
    }
}

@media screen and (max-width: 860px){
    .footerModal{
        padding: 10px 20px;
    }
}

@media screen and (max-width: 767px){
    .dataModal .title-container .title img{
       display: none;
    }

    .dataRow{
        padding: 0 25px;
        margin-bottom: 15px;
    }

    .footerModal{
        padding: 10px 25px;
    }

    .footerModal p{
        font-size: 18px;
    }

    .buttonConfir button{
        font-size: 1.1em;
    }

    .totalInfoOrder{
        font-size: 0.9em;
    }

    .modalOrderDone{
        width: 60%;
    }

    .infoDatarow.dataRow{
        margin-bottom: 5px;
    }

    .infoDatarow p{
        margin: 5px 0;
    }
}


@media screen and (max-width: 600px){
    .modalOrderDone{
        width: 70%;
        padding-top: 10px;
    }
    

    .infoDatarow.dataRow{
        font-size: 1em;
        text-align: justify;
    }
}

@media screen and (max-width: 480px){
    .modalOrderDone{
        width: 90%;
    }

    .footerModal{
        padding-top: 0;
    }

    .modalOrderDone .inputGoup{
        width: 100%;
    }

    .modalOrderDone .inputGoup h5{
        font-size: 1.2em;
    }

    .dataRow input[type=text], input[type=tel], .modalOrderDone textarea {
        width: 100% !important;
        font-size: 1.1em;
    }

    .dataRow {
        justify-content: start;
    }
}

@media screen and (max-width: 380px){
   
}

@media screen and (max-width: 320px){
    .modalOrderDone{
        width: 95%;
    }

    .modalOrderDone .title-container .title{
        font-size: 0.8em;
    }

    .inputGoup h5{
        font-size: 1em;
    }

    .dataRow input[type=text], input[type=tel], .modalOrderDone textarea {
        width: 100% !important;
        font-size: 1em;
    }

    .infoDatarow p{
        font-size: 0.8em;
    }
}