.order-popup {
    background-color: #f2f2f2;
    display: block;
    border-radius: 5px;
    position: relative;
    z-index: 100;
    top: -80px;
    /* overflow: hidden; */
  }

  
  .order-popup .closeIcon{
    position: absolute;
    right: 0;
    top: 0;
    margin: 5px;
    height: 35px;
    width: 35px;
    cursor: pointer;
    transition: .2s all;
  }

  .order-popup .closeIcon:hover{
    transform: scale(1.1);
  }
  
  .pizza-visual-description {
    width: 362px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .pizza-visual-description h1 {
    font-size: 2em;
    text-align: left;
    margin-left: 10px;
    margin-top: 5px;
    width: 100%;
    color: var(--green-color);
  }
  .pizza-visual-description p {
    font-size: 13px;
    font-weight: 600;
    color: #5f5f5f;
  }
  .order-popup img {
    width: auto;
    height: 226px;
  }
  .pizza-visual-description h4 {
    font-size: 18px;
    color: #6a6a6a;
    font-family: "Roboto";
    margin: 10px;
  }
  
  .pizza-caracteristics {
    width: 362px;
    min-height: 340px;
    background-color: #e7e7e7;
    text-align: center;
    border-top-right-radius: 8px;
  }
  .pizza-caracteristics h3 {
    font-size: 24px;
    margin: 5px;
  }
  .pizza-caracteristics .fas {
    font-size: 50px;
    margin: 14px 0px;
  }
  .pizza-caracteristics h4 {
    font-size: 18px;
    color: #6a6a6a;
    margin-bottom: 5px;
  }
  
  .pizza-caracteristics textarea {
    width: 315px;
    height: 53px;
  }
  
  .order-information {
    display: flex;
  }
  
  .input-select {
    height: 30px;
    width: 272px;
    margin-bottom: 15px;
    border: solid 1px #9e9d9d;
    border-radius: 5px;
  }
  .pizza-caracteristics .plusCirculeIcon{
    margin: 5px;
    height: 45px;
    width: 45px;
    cursor: pointer;
    transition: .2s all;
  }

  .pizza-caracteristics .plusCirculeIcon:hover{
    transform: scale(1.1);
  }

  .order-price {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
  }
  .order-price .sizes {
    display: flex;
    margin: 0px 10px 0px 5px;
  }
  .sizes .size {
    color: white;
    background-color: #4a8845;
    padding: 7px 8px;
    cursor: pointer;
    position: relative;
  }

  .sizeActive{
    background: #385A36 !important;
  }

  .size:nth-of-type(-n + 3) {
    border-right: solid 1px #385a36;
  }
  .size:nth-of-type(1) {
    border-radius: 5px 0px 0px 5px;
  }
  .size:nth-of-type(4) {
    border-radius: 0px 5px 5px 0px;
  }

  .pizza_personal:hover > span{
    visibility: visible;
  } 

  .pizza_pequeña:hover > span{
    visibility: visible;
  }

  .pizza_mediana:hover > span{
    visibility: visible;
  }

  .pizza_grande:hover > span{
    visibility: visible;
  }

  .pizzaModel{
    visibility: hidden;
    position: absolute;
    width: 280px;
    height: 180px;
    background: #D1D1D1;
    top: 40px;
    left: 10px;
    z-index: 1000;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pizzaModel::before{
    content:"\A";
    border-style: solid;
    border-width: 10px 15px 10px 0;
    border-color: transparent lightgray transparent transparent;
    position: absolute;
    left: 8px;
    top: -13px;
    transform: rotate(-35deg);
  }

  .pizzaModel .detailsZise{
    font-size: 0.95em;
    position: absolute;
    margin:5px;
    top: 0;
    right: 0;
    color: gray;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .circulePizzaModel{
    width: 160px;
    height: 160px;
    margin-right: 50px;
    border-radius: 50%;
    background: #7D7D7D;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .pizza_stripe{
    position: absolute;
    width: 100%;
    border-bottom: 1px solid white;
  }

  .stripe_two_4{
    transform: rotate(90deg);
  }
/* ------------------------------------------------ */
  .stripe_two_6{
    transform: rotate(60deg);
  }

  .stripe_three_6{
    transform: rotate(-60deg);
  }
  
/* ------------------------------------------------ */
 .stripe_two_8{
  transform: rotate(90deg);
 }
 .stripe_three_8{
  transform: rotate(45deg);
 }
 .stripe_four_8{
  transform: rotate(-45deg);
 }

/* ------------------------------------------------ */
.stripe_two_10{
  transform: rotate(36deg);
}

.stripe_three_10{
  transform: rotate(72deg);

}

.stripe_four_10{
  transform: rotate(-36deg);

}

.stripe_five_10{
  transform: rotate(-72deg);

}

  .order-price .quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: solid 1px lightgray;
    border-radius: 9px;
    overflow: hidden;
    padding: 1px;
    height: inherit;
  }
  .order-price .quantity .number {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px;
    font-size: 1.2em;

  }
  .order-price .quantity .minus {
    color: white;
    background-color: #bc0707;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    height: 32px;
    width: 32px;
    font-size: 2em;
    text-align: center;
    cursor: pointer;
    transition: .1s all;
  }

  .order-price .quantity .minus:active, .order-price .quantity .plus:active{
    transform: scale(0.9);
  }

  .order-price .quantity .plus {
    color: white;
    background-color: #10c600;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    height: 32px;
    width: 32px;
    font-size: 2em;
    text-align: center;
    cursor: pointer;
    transition: .1s all;

  }
  
  .order-price .quantity .fa-minus,
  .fa-plus {
    color: white;
  }
  .order-price .total-price {
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    width: 207px;
    border-radius: 8px;
    padding: 8px 10px;
    cursor: pointer;
  }

  .total-price .plusIcon{
    height: 15px;
    width: 15px;
    transform: skew(-8deg);
  }

  .total-price p{
    font-style: italic;
    font-weight: 500;
    font-size: 1.1em;
  }

  .order-price .total-price p,
  .fa-plus {
    color: white;
    margin: 0 5px;

  }