.ordersHistory_body{
    background: #E5E5E5;
    display: flex;
    justify-content: center;
    height: 100vh;
    min-height: 100vh;
    overflow-y: auto;
    position: relative;
}

.ordersHistory_wrapper{
    max-width: 1200px;
    height: 100vh;
    width: 100%;
}

.ordersHistory_bottomBar{
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    background: black;
    box-sizing: border-box;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 2em;
    font-weight: 700;
}

.ordersHistory_dateContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.ordersHistory_dateContainer input{
    border: 2px solid rgb(173, 172, 172) !important;
}

.ordersHistory_dateContainer svg g{
    color: green;
}

.calendar{
    position: absolute;
    font-weight: 800;
}

.calender-date{
    color: green !important;

}

.calendar :nth-child(2){
    background: rgb(240, 240, 240) !important;
}